<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c4d6b332-f52b-464d-a3e8-a8f6c6802d93/resourceGroups/conti-demo/providers/Microsoft.Web/sites/condi-tienda-back</ResourceId>
    <ResourceGroup>conti-demo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://condi-tienda-back.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://condi-tienda-back.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$condi-tienda-back</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>